@model IEnumerable<JobWebApp.Models.JobOffer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:#c4ddd3;">

    @if (TempData["message"] != null)
    {
        <div class="alert alert-dismissible alert-info fade show" role="alert">
            <strong>@TempData["message"]</strong>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
    }




    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Job Offers List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-outline-info">Create New</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-striped table-hover" stile="width:100%">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Local
                    </th>
                    <th>
                        Position Tipe
                    </th>
                    <th>
                        Post Date
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Local)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position.PositionType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">Edit</a>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-primary">Detail</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No jobs created yet</p>
    }

    <div class="modal" id="modal">


    </div>
</body>
